<!-- start custom footer snippets -->
<script type="text/javascript" src="\assets\js\MyJs\jquery\jquery-3.4.1.min.js"></script>
<!-- <script type="text/javascript" src="\assets\js\MyJs\animejs\anime.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\bootstrap\js\bootstrap.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\aos\aos.js"></script>
<script defer type="text/javascript" src="\assets\js\MyJs\slick\slick.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\HMZ.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\HMZ-1.js"></script> -->
<!-- end custom footer snippets -->