{% include analytics.html %}
<script type="text/javascript" src="\assets\js\MyJs\jquery\jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\animejs\anime.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\jquery\jquery-ui.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\bootstrap\js\popper.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\bootstrap\js\bootstrap.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\jquery\jquery.validate.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\aos\aos.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\hammerJs\hammer.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\perfect-scrollbar\jquery.nicescroll.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\perfect-scrollbar\OverlayScrollbars.min.js"></script>
<script type="text/javascript" src="\assets\js\MyJs\HMZ.min.js"></script>